﻿
@{
    ViewBag.Title = "Dosen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link_custom{

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="option_jenis_kelamin(null);resetForm();" data-toggle="modal" data-target="#addDosen" data-backdrop="static">
                add
            </button>
        </div>

    </div>

    <table id="tblDosen" class="display" style="width:100%">
        <thead>
            <tr>
                <th>NID</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Telp</th>
                <th>Jenis Kelamin</th>
                <th>Agama</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addDosen" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-info">
                    <form method="post" id="frmDosen">
                        <div class="panel-heading">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Form Tambah Dosen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="modal-body">



                                <div class="row">
                                    <div class="col-lg-6">

                                        <input type="hidden" name="dosen_id" id="dosen_id" class="form-control" />

                                        <div class="form-group">
                                            <label>NID</label>
                                            <input type="text" name="nid" id="nid" class="form-control" />
                                        </div>


                                        <div class="form-group">
                                            <label>Nama</label>
                                            <input type="text" name="nama" id="nama" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Alamat</label>
                                            <input type="text" name="alamat" id="alamat" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Jenis Kelamin</label>
                                            <select class="form-control" name="jenis_kelamin" id="jenis_kelamin"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Telp</label>
                                            <input type="text" name="telp" id="telp" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Agama</label>
                                            <input type="text" name="agama" id="agama" class="form-control" />
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm();">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>

                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>


</div>



@section script_custom{



    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function () {


            table = $('#tblDosen').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/dosen/listdosen",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { data: "nid" },
                    { data: "nama" },
                    { data: "alamat" },
                    { data: "telp" },
                    { data: "jenis_kelamin" },
                    { data: "agama" },
                    {
                        data: "dosen_id",
                        "render": function (data, type, row) {
                            return '<button type="button" onclick="option_jenis_kelamin(\'' + row.jenis_kelamin + '\');get_by_id(\'' + data + '\');">Edit</button>' +
                                '<button type="button" onclick="remove(\'' + data + '\',\'' + row.nama + '\')">Delete</button>';
                        }
                    }
                ]
            });


            $('form#frmDosen').on('submit', function (e) {

                var q = confirm("apakah anda ingin menyimpan data?");

                if (q) {

                    var id = $('#dosen_id').val();

                    if (id == "") {

                        insert();

                    } else {

                        update()

                    }


                }


                e.preventDefault();
            });


        });



        function insert() {

            $.ajax({
                type: "POST",
                url: "dosen/insert",
                data: {
                    id: $('#dosen_id').val(),
                    nid: $('#nid').val(),
                    nama: $('#nama').val(),
                    alamat: $('#alamat').val(),
                    jenis_kelamin: $('#jenis_kelamin').children('option:selected').val(),
                    telp: $('#telp').val(),
                    agama: $('#agama').val()
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();


                    } else {

                        alert(data.Message);

                    }
                }
            });

        }


        function update() {

            $.ajax({
                type: "POST",
                url: "dosen/update",
                data: {
                    id: $('#dosen_id').val(),
                    nid: $('#nid').val(),
                    nama: $('#nama').val(),
                    alamat: $('#alamat').val(),
                    jenis_kelamin: $('#jenis_kelamin').children('option:selected').val(),
                    telp: $('#telp').val(),
                    agama: $('#agama').val()
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();

                    } else {

                        alert(data.Message);

                    }
                }
            });

        }

        function get_by_id(id) {

            $.ajax({
                type: "POST",
                url: "/dosen/getById",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#dosen_id').val(data.dosen_id);
                    $('#nid').val(data.nid);
                    $('#nama').val(data.nama);
                    $('#alamat').val(data.alamat);
                    $('#telp').val(data.telp);
                    $('#agama').val(data.agama);

                    $('#addDosen').modal({
                        "show": true,
                        "backdrop": false
                    });

                }
            });

        }


        function remove(id, nama) {

            var q = confirm("apakah anda yakin akan menghapus data : " + nama);

            if (q) {

                $.ajax({
                    type: "POST",
                    url: "/dosen/delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);

                            table.ajax.reload();

                        } else {

                            alert(data.Message);

                        }

                    }
                });
            }


        }


        function option_jenis_kelamin(value) {

            $('#jenis_kelamin').empty();

            if (value === "Laki-Laki") {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L" selected>Laki-Laki</option><option value="P">Perempuan</option>');

            } else if (value === "Perempuan") {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P" selected>Perempuan</option>');

            } else {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P">Perempuan</option>');

            }



        }


        function resetForm() {

            $('#frmDosen').trigger('reset');
        }


    </script>


} <!-- end of section -->