﻿
@{
    ViewBag.Title = "Mahasiswa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link_custom{

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="option_jenis_kelamin(null); resetForm(); option_jurusan(null)" data-toggle="modal" data-target="#addMahasiswa" data-backdrop="static">
                add
            </button>
        </div>

    </div>

    <table id="tblMahasiswa" class="display" style="width:100%">
        <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Email</th>
                <th>Jurusan</th>
                <th>Telp</th>
                <th>Jenis Kelamin</th>
                <th>Agama</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addMahasiswa" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-info">
                    <form method="post" id="frmMahasiswa">
                        <div class="panel-heading">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Form Tambah Mahasiswa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="modal-body">



                                <div class="row">
                                    <div class="col-lg-6">

                                        <input type="hidden" name="mahasiswa_id" id="mahasiswa_id" class="form-control" />

                                        <div class="form-group">
                                            <label>NIM</label>
                                            <input type="text" name="nim" id="nim" class="form-control" />
                                        </div>


                                        <div class="form-group">
                                            <label>Nama</label>
                                            <input type="text" name="nama" id="nama" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Alamat</label>
                                            <input type="text" name="alamat" id="alamat" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="email" id="email" class="form-control" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Jurusan</label>
                                            <select class="form-control" name="jurusan_id" id="jurusan_id"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Telp</label>
                                            <input type="text" name="telp" id="telp" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Jenis Kelamin</label>
                                            <select class="form-control" name="jenis_kelamin" id="jenis_kelamin"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Agama</label>
                                            <input type="text" name="agama" id="agama" class="form-control" />
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm();">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>

                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>


</div>



@section script_custom{



    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function () {


            table = $('#tblMahasiswa').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/mahasiswa/listmahasiswa",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { data: "nim" },
                    { data: "nama" },
                    { data: "alamat" },
                    { data: "email" },
                    { data: "nama_jurusan" },
                    { data: "telp" },
                    { data: "jenis_kelamin" },
                    { data: "agama" },
                    {
                        data: "mahasiswa_id",
                        "render": function (data, type, row) {
                            return '<button type="button" onclick="option_jenis_kelamin(\'' + row.jenis_kelamin + '\');get_by_id(\'' + data + '\');option_jurusan(\''+row.jurusan_id+'\');">Edit</button>' +
                                '<button type="button" onclick="remove(\'' + data + '\',\'' + row.nama + '\')">Delete</button>';
                        }
                    }
                ]
            });


            $('form#frmMahasiswa').on('submit', function (e) {

                var q = confirm("apakah anda ingin menyimpan data?");

                if (q) {

                    var id = $('#mahasiswa_id').val();

                    if (id == "") {

                        insert();

                    } else {

                        update()

                    }


                }


                e.preventDefault();
            });


        });



        function insert() {

            $.ajax({
                type: "POST",
                url: "/mahasiswa/insert",
                data: {
                    id: $('#mahasiswa_id').val(),
                    nim: $('#nim').val(),
                    nama: $('#nama').val(),
                    alamat: $('#alamat').val(),
                    email: $('#email').val(),
                    jurusan_id: $('#jurusan_id').children('option:selected').val(),
                    telp: $('#telp').val(),
                    jenis_kelamin: $('#jenis_kelamin').children('option:selected').val(),
                    agama: $('#agama').val()
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();


                    } else {

                        alert(data.Message);

                    }
                }
            });

        }


        function update() {

            $.ajax({
                type: "POST",
                url: "/mahasiswa/update",
                data: {
                    id: $('#mahasiswa_id').val(),
                    nim: $('#nim').val(),
                    nama: $('#nama').val(),
                    alamat: $('#alamat').val(),
                    email: $('#email').val(),
                    jurusan_id: $('#jurusan_id').children('option:selected').val(),
                    telp: $('#telp').val(),
                    jenis_kelamin: $('#jenis_kelamin').children('option:selected').val(),
                    agama: $('#agama').val()
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();

                    } else {

                        alert(data.Message);

                    }
                }
            });

        }

        function get_by_id(id) {

            $.ajax({
                type: "POST",
                url: "/mahasiswa/getById",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#mahasiswa_id').val(data.mahasiswa_id);
                    $('#nim').val(data.nim);
                    $('#nama').val(data.nama);
                    $('#alamat').val(data.alamat);
                    $('#email').val(data.email);
                    $('#jurusan_id').val(data.jurusan_id);
                    $('#telp').val(data.telp);
                    $('#agama').val(data.agama);

                    $('#addMahasiswa').modal({
                        "show": true,
                        "backdrop": false
                    });

                }
            });

        }


        function remove(id, nama) {

            var q = confirm("apakah anda yakin akan menghapus data : " + nama);

            if (q) {

                $.ajax({
                    type: "POST",
                    url: "/mahasiswa/delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);

                            table.ajax.reload();

                        } else {

                            alert(data.Message);

                        }

                    }
                });
            }


        }


        function option_jenis_kelamin(value) {

            $('#jenis_kelamin').empty();

            if (value === "Laki-Laki") {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L" selected>Laki-Laki</option><option value="P">Perempuan</option>');

            } else if (value === "Perempuan") {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P" selected>Perempuan</option>');

            } else {

                $('#jenis_kelamin').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P">Perempuan</option>');

            }



        }


        function option_jurusan(id) {

            $.ajax({
                type: "POST",
                url: "/jurusan/selectoption",
                dataType: 'json',
                success: function (data) {

                    $('#jurusan_id').empty();

                    html = '<option value="">- Select -</option>';

                    for (var i = 0; i < data.length; i++) {

                        if (data[i].id === id) {

                            html += '<option value="'+data[i].id+'" selected>'+data[i].nama_jurusan+'</option>';
                        } else {
                            html += '<option value="' + data[i].id + '">' + data[i].nama_jurusan + '</option>';
                        }

                    }


                    $('#jurusan_id').append(html);

                }
            });


            //if (value === "Laki-Laki") {

            //    $('#jurusan_id').append('<option value="">- Select -</option><option value="L" selected>Laki-Laki</option><option value="P">Perempuan</option>');

            //} else if (value === "Perempuan") {

            //    $('#jurusan_id').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P" selected>Perempuan</option>');

            //} else {

            //    $('#jurusan_id').append('<option value="">- Select -</option><option value="L">Laki-Laki</option><option value="P">Perempuan</option>');

            //}



        }


        function resetForm() {

            $('#frmMahasiswa').trigger('reset');
        }


    </script>


} <!-- end of section -->

