﻿
@{
    ViewBag.Title = "Mata Kuliah Jurusan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link_custom{

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="selectOptionJurusan(null);resetForm();selectOptionMatakuliah(null)" data-toggle="modal" data-target="#addDosen" data-backdrop="static">
                add
            </button>
        </div>

    </div>

    <table id="tblDosen" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nama Jurusan</th>
                <th>Mata Kuliah</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addDosen" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-info">
                    <form method="post" id="frmMataKuliahJurusan">
                        <div class="panel-heading">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Form Tambah Mata Kuliah Jurusan</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="modal-body">



                                <div class="row">
                                    <div class="col-lg-6">

                                        <input type="hidden" name="matkul_jurusan_id" id="matkul_jurusan_id" class="form-control" />

                                        <div class="form-group">
                                            <label>Jurusan</label>
                                            <select class="form-control" name="jurusan_id" id="jurusan_id"></select>
                                        </div>


                                        <div class="form-group">
                                            <label>Mata Kuliah</label>
                                            <select class="form-control" name="matkul_id" id="matkul_id"></select>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm();">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>

                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>


</div>



@section script_custom{



    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function () {


            table = $('#tblDosen').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/matakuliahjurusan/listmatakuliahjurusan",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { data: "nama_jurusan" },
                    { data: "matkul" },
                    {
                        data: "matkul_jurusan_id",
                        "render": function (data, type, row) {
                            return '<button type="button" onclick="get_by_id(\'' + data + '\');">Edit</button>' +
                                '<button type="button" onclick="remove(\'' + data + '\')">Delete</button>';
                        }
                    }
                ]
            });


            $('form#frmMataKuliahJurusan').on('submit', function (e) {

                var q = confirm("apakah anda ingin menyimpan data?");

                if (q) {

                    var id = $('#matkul_jurusan_id').val();

                    if (id == "") {

                        insert();

                    } else {

                        update()

                    }


                }


                e.preventDefault();
            });


        });



        function insert() {

            $.ajax({
                type: "POST",
                url: "/matakuliahjurusan/insert",
                data: {
                    id: $('#matkul_jurusan_id').val(),
                    matkul_id: $('#matkul_id').children('option:selected').val(),
                    jurusan_id: $('#jurusan_id').children('option:selected').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();


                    } else {

                        alert(data.Message);

                    }
                }
            });

        }


        function update() {

            $.ajax({
                type: "POST",
                url: "/matakuliahjurusan/update",
                data: {
                    id: $('#matkul_jurusan_id').val(),
                    matkul_id: $('#matkul_id').children('option:selected').val(),
                    jurusan_id: $('#jurusan_id').children('option:selected').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();

                    } else {

                        alert(data.Message);

                    }
                }
            });

        }

        function get_by_id(id) {

            $.ajax({
                type: "POST",
                url: "/matakuliahjurusan/getById",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#matkul_jurusan_id').val(data.matkul_jurusan_id);

                    selectOptionJurusan(data.jurusan_id);

                    selectOptionMatakuliah(data.matkul_id);

                    $('#addDosen').modal({
                        "show": true,
                        "backdrop": false
                    });

                }
            });

        }


        function remove(id) {

            var q = confirm("apakah anda yakin akan menghapus data : " + id);

            if (q) {

                $.ajax({
                    type: "POST",
                    url: "/matakuliahjurusan/delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);

                            table.ajax.reload();

                        } else {

                            alert(data.Message);

                        }

                    }
                });
            }


        }


        function selectOptionJurusan(id) {


            $.ajax({
                type: "POST",
                url: "/jurusan/selectoption",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#jurusan_id').empty();

                    html = '<option value="">-- Select --</option>';

                    for (var i = 0; i < data.length; i++) {

                        if (data[i].jurusan_id === id) {

                            html += '<option value="' + data[i].jurusan_id + '" selected>' + data[i].nama_jurusan + '</option>';
                        } else {
                            html += '<option value="' + data[i].jurusan_id + '">' + data[i].nama_jurusan + '</option>';
                        }

                    }

                    $('#jurusan_id').append(html);


                }

            });
        }




        function selectOptionMatakuliah(id) {


            $.ajax({
                type: "POST",
                url: "/matakuliah/selectoption",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#matkul_id').empty();

                    html = '<option value="">-- Select --</option>';

                    for (var i = 0; i < data.length; i++) {

                        if (data[i].matkul_id === id) {

                            html += '<option value="' + data[i].matkul_id + '" selected>' + data[i].matkul + '</option>';
                        } else {
                            html += '<option value="' + data[i].matkul_id + '">' + data[i].matkul + '</option>';
                        }

                    }

                    $('#matkul_id').append(html);


                }
            });


        }








        function resetForm() {

            $('#frmMataKuliahJurusan').trigger('reset');
        }


    </script>


} <!-- end of section -->