﻿
@{
    ViewBag.Title = "Kode Ruangan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link_custom{

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="selectOptionDosen(null); selectOptionMatakuliah(null);resetForm();" data-toggle="modal" data-target="#addKodeRuangan" data-backdrop="static">
                add
            </button>
        </div>

    </div>

    <table id="tblKodeRuangan" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Kode Ruangan</th>
                <th>Mata Kuliah</th>
                <th>Nama Dosen</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addKodeRuangan" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-info">
                    <form method="post" id="frmKodeRuangan">
                        <div class="panel-heading">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Form Tambah Dosen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="modal-body">



                                <div class="row">
                                    <div class="col-lg-6">

                                        <input type="hidden" name="kode_ruangan_id" id="kode_ruangan_id" class="form-control" />

                                        <div class="form-group">
                                            <label>Kode Ruangan</label>
                                            <input type="text" name="kode_ruangan" id="kode_ruangan" class="form-control" />
                                        </div>




                                        <div class="form-group">
                                            <label>Mata Kuliah</label>
                                            <select class="form-control" name="matkul_id" id="matkul_id"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Dosen</label>
                                            <select class="form-control" name="dosen_id" id="dosen_id"></select>
                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm();">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>

                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>


</div>



@section script_custom{



    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function () {


            table = $('#tblKodeRuangan').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/koderuangan/listkoderuangan",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { data: "kode_ruangan" },
                    { data: "matkul" },
                    { data: "nama" },
                    {
                        data: "kode_ruangan_id",
                        "render": function (data, type, row) {
                            return '<button type="button" onclick="get_by_id(\'' + data + '\');">Edit</button>' +
                                '<button type="button" onclick="remove(\'' + data + '\',\'' + row.kode_ruangan + '\')">Delete</button>';
                        }
                    }
                ]
            });


            $('form#frmKodeRuangan').on('submit', function (e) {

                var q = confirm("apakah anda ingin menyimpan data?");

                if (q) {

                    var id = $('#kode_ruangan_id').val();

                    if (id == "") {

                        insert();

                    } else {

                        update()

                    }


                }


                e.preventDefault();
            });


        });



        function insert() {

            $.ajax({
                type: "POST",
                url: "/koderuangan/insert",
                data: {
                    id: $('#kode_ruangan_id').val(),
                    kode_ruangan: $('#kode_ruangan').val(),
                    matkul_id : $('#matkul_id').children('option:selected').val(),
                    dosen_id: $('#dosen_id').children('option:selected').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();


                    } else {

                        alert(data.Message);

                    }
                }
            });

        }


        function update() {

            $.ajax({
                type: "POST",
                url: "/koderuangan/update",
                data: {
                    id: $('#kode_ruangan_id').val(),
                    kode_ruangan: $('#kode_ruangan').val(),
                    matkul_id: $('#matkul_id').children('option:selected').val(),
                    dosen_id: $('#dosen_id').children('option:selected').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();

                    } else {

                        alert(data.Message);

                    }
                }
            });

        }

        function get_by_id(id) {

            $.ajax({
                type: "POST",
                url: "/koderuangan/getById",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#kode_ruangan_id').val(data.kode_ruangan_id);
                    $('#kode_ruangan').val(data.kode_ruangan);
                    selectOptionDosen(data.dosen_id);
                    selectOptionMatakuliah(data.matkul_id);


                    $('#addKodeRuangan').modal({
                        "show": true,
                        "backdrop": false
                    });

                }
            });

        }


        function remove(id, nama) {

            var q = confirm("apakah anda yakin akan menghapus data : " + nama);

            if (q) {

                $.ajax({
                    type: "POST",
                    url: "/koderuangan/delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);

                            table.ajax.reload();

                        } else {

                            alert(data.Message);

                        }

                    }
                });
            }


        }



        function selectOptionDosen(id) {


            $.ajax({
                type: "POST",
                url: "/dosen/selectoption",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#dosen_id').empty();

                    html = '<option value="">-- Select --</option>';

                    for (var i = 0; i < data.length; i++) {

                        if (data[i].dosen_id === id) {

                            html += '<option value="' + data[i].dosen_id + '" selected>' + data[i].nama + '</option>';
                        } else {
                            html += '<option value="' + data[i].dosen_id + '">' + data[i].nama + '</option>';
                        }

                    }

                    $('#dosen_id').append(html);
                    

                }
            });


        }



        function selectOptionMatakuliah(id) {


            $.ajax({
                type: "POST",
                url: "/matakuliah/selectoption",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#matkul_id').empty();

                    html = '<option value="">-- Select --</option>';

                    for (var i = 0; i < data.length; i++) {

                        if (data[i].matkul_id === id) {

                            html += '<option value="' + data[i].matkul_id + '" selected>' + data[i].matkul + '</option>';
                        } else {
                            html += '<option value="' + data[i].matkul_id + '">' + data[i].matkul + '</option>';
                        }

                    }

                    $('#matkul_id').append(html);


                }
            });


        }



        function resetForm() {

            $('#frmKodeRuangan').trigger('reset');
        }


    </script>


} <!-- end of section -->