﻿
@{
    ViewBag.Title = "Mata Kuliah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link_custom{

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="option_jenis_kelamin(null);resetForm();" data-toggle="modal" data-target="#addMataKuliah" data-backdrop="static">
                add
            </button>
        </div>

    </div>

    <table id="tblMataKuliah" class="display" style="width:100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Mata Kuliah</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addMataKuliah" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-info">
                    <form method="post" id="frmMataKuliah">
                        <div class="panel-heading">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Form Tambah Dosen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="modal-body">



                                <div class="row">
                                    <div class="col-lg-6">

                                        <input type="hidden" name="matkul_id" id="matkul_id" class="form-control" />

                                        <div class="form-group">
                                            <label>Mata Kuliah</label>
                                            <input type="text" name="matkul" id="matkul" class="form-control" />
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm();">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>

                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>


</div>



@section script_custom{



    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function () {


            table = $('#tblMataKuliah').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/matakuliah/listmatakuliah",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { data: "matkul" },
                    {
                        data: "matkul_id",
                        "render": function (data, type, row) {
                            return '<button type="button" onclick="get_by_id(\'' + data + '\');">Edit</button>' +
                                '<button type="button" onclick="remove(\'' + data + '\',\'' + row.matkul + '\')">Delete</button>';
                        }
                    }
                ]
            });


            $('form#frmMataKuliah').on('submit', function (e) {

                var q = confirm("apakah anda ingin menyimpan data?");

                if (q) {

                    var id = $('#matkul_id').val();

                    if (id == "") {

                        insert();

                    } else {

                        update()

                    }


                }


                e.preventDefault();
            });


        });



        function insert() {

            $.ajax({
                type: "POST",
                url: "/matakuliah/insert",
                data: {
                    id: $('#matkul_id').val(),
                    matkul: $('#matkul').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();


                    } else {

                        alert(data.Message);

                    }
                }
            });

        }


        function update() {

            $.ajax({
                type: "POST",
                url: "/matakuliah/update",
                data: {
                    id: $('#matkul_id').val(),
                    matkul: $('#matkul').val(),
                },
                dataType: 'json',
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);
                        table.ajax.reload();

                    } else {

                        alert(data.Message);

                    }
                }
            });

        }

        function get_by_id(id) {

            $.ajax({
                type: "POST",
                url: "/matakuliah/getById",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (data) {

                    $('#matkul_id').val(data.matkul_id);
                    $('#matkul').val(data.matkul);

                    $('#addMataKuliah').modal({
                        "show": true,
                        "backdrop": false
                    });

                }
            });

        }


        function remove(id, nama) {

            var q = confirm("apakah anda yakin akan menghapus data : " + nama);

            if (q) {

                $.ajax({
                    type: "POST",
                    url: "/matakuliah/delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);

                            table.ajax.reload();

                        } else {

                            alert(data.Message);

                        }

                    }
                });
            }


        }



        function resetForm() {

            $('#frmMataKuliah').trigger('reset');
        }


    </script>


} <!-- end of section -->